<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="robots" content="noodp, max-image-preview:large">

    <!-- TITLE INFO -->
    <title>{% block title %}{% endblock title%}</title>

	<!-- FAVICON -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- CSS -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/header.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/online_layout.css') }}">

	<!-- JS -->
	<script src="{{ url_for('static',filename='js/header.js') }}" ></script>


    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	{% block head %}

	{% endblock head %}

</head>
<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
			{% for category,message in messages %}
				<div style="margin:10px;" class="alert alert-{{category}}">
					{{message}}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<div class="super_container">

	<!-- Header -->



	<header class="header header-dot-header">

		<!-- Header Main -->

		<div class="header_main" style="padding-top: 5px;padding-bottom: 5px; background:#306998;">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-3 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo "><a href="#">
								<img height="70" src="{{ url_for('static', filename='images/pycon_logo.png') }}" alt="PyCon 2022" />
							</a>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="row" style="margin-top:17px;">
							<button class="name noselect">
								<strong class="event-informer-text"> Blockchain workshop |  15:30</strong>
							</button>

							<button style="margin-left:40px;" class="name noselect second-button">
								<strong class="event-informer-text"> Pydantic microservices |  18:30</strong>
							</button>

							<button style="margin-left:40px;" class="name noselect third-button">
								<strong class="event-informer-text"> Encryption Lecture |  18:30</strong>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<nav style="height:65px;" class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class=" d-flex flex-row">
						<div class=" d-flex flex-row">
							<!-- Main Nav Menu -->

							<div class="main_nav_menu">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a href="{{ url_for('online_main_page') }}">Home<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="{{ url_for('workshop_page') }}">Workshops<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="{{ url_for('lecture_page') }}">Lectures<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="#">Competitions<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="#">Forum<i class="fas fa-chevron-down"></i></a></li>
								</ul>
							</div>

							<!-- Menu Trigger -->



						</div>
					</div>
				</div>
			</div>
		</nav>



	</header>



</div>



    <main class="content">
        {% block content %}

        {% endblock content %}


    </main>

	<div class="small-screen-nav">
		<div class="row">
			<div class="col-5">
				<a href="#">
					<img style="margin-top:12px;" height="25" src="{{ url_for('static', filename='images/agenda_icon.png' ) }}" />
				</a>
			</div>
			<div class="col-2">
				<a href="{{ url_for('online_main_page') }}">
					<img style="margin-top:12px;" height="25" src="{{ url_for('static', filename='images/home_icon.png' ) }}" />
				</a>
			</div>
			<div class="col-5">
				<a href="#">
					<img style="margin-top:12px;" height="25" src="{{ url_for('static', filename='images/user_icon.png' ) }}" />
				</a>
			</div>
		</div>
	</div>


	<br/><br/><br/><br/><br/><br/>
    <footer class="footer" style="margin-top:150px;">
	      <div id="footer-lop" >
	      <!-- Footer Links -->
	      <div class="container">
	        <!-- Grid row-->
	        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
	          <!-- Grid column -->
	          <div class="col-md-2 mb-3">
	            <h6 class="text-uppercase font-weight-bold">
	              <a target="_blank" href="#">PyCon</a>
	            </h6>
	          </div>
	          <!-- Grid column -->
	          <!-- Grid column -->
	          <div class="col-md-2 mb-3">
	            <h6 class="text-uppercase font-weight-bold">
	              <a target="_blank" href="https://youtu.be/dQw4w9WgXcQ">Help</a>
	            </h6>
	          </div>
	          <!-- Grid column -->

	          <!-- Grid column -->
	    		<div class="col-md-2 mb-3">
	        	    <h6 class="text-uppercase font-weight-bold">
	        	      <a href="#">GitHub</a>
	        	    </h6>
	        	  </div>
	        	</div>
	        <!-- Grid row-->
	    	  <div style="padding-bottom:10px;" class="col-md-12 mb-9">
	    	  	<div class="text-muted policy-terms" style="text-align: center;">
	    			<a style="text-decoration:none;" class="text-muted" href="#">Privacy Policy</a>
	    			<label >|</label>
	    			<a style="text-decoration:none;" class="text-muted" href="#">Terms of use</a>
	    			<label >|</label>
	    			<a style="text-decoration:none;" class="text-muted" href="#">Cookies Policy</a>
	    	  	</div>
	    	  </div>
	      <!-- Copyright -->
	    	  <div style="text-align: center;color:#525252;">
	    	  	<label >&copy; Pycon</label>
	    	  </div>
	      </div>
	      <!-- Copyright -->
	    </div>
	</footer>



</body>



</html>

