 	<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="robots" content="noodp, max-image-preview:large">

    <!-- TITLE INFO -->
    <title>{% block title %}{% endblock title%}</title>

	<!-- FAVICON -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- CSS -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/header.css') }}">

	<!-- JS -->
	<script src="{{ url_for('static',filename='js/header.js') }}" ></script>


    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	{% block head %}

	{% endblock head %}

</head>
<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
			{% for category,message in messages %}
				<div style="margin:10px;" class="alert alert-{{category}}">
					{{message}}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<div class="super_container">

	<!-- Header -->

	<header class="header">

		<!-- Header Main -->

		<div class="header_main" style="padding-top: 5px;padding-bottom: 5px; background:#306998;">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-3 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo "><a href="#">
								<img height="70" src="{{ url_for('static', filename='images/pycon_logo.png') }}" alt="PyCon 2022" />
							</a>


							</div>

						</div>

					</div>

					<div class="col-lg-9 col-md-9 col-sm-9 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="row" style="margin-top:17px;">


								<button class="name noselect">
									<strong class="event-informer-text"> Blockchain workshop |  15:30</strong>
								</button>

								<button style="margin-left:40px;" class="name noselect">
									<strong class="event-informer-text"> Pydantic microservices |  18:30</strong>
								</button>

								<button style="margin-left:40px;" class="name noselect">
									<strong class="event-informer-text"> Encryption Lecture |  18:30</strong>
								</button>



						</div>

					</div>

				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->



							<!-- Main Nav Menu -->

							<div class="main_nav_menu">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a href="#">Home<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="#">Workshops<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="#">Lectures<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="#">Competitions<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="#">Forum<i class="fas fa-chevron-down"></i></a></li>


								</ul>


							</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>

		<!-- Menu -->

		<div class="page_menu">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="page_menu_content">

							<div class="page_menu_search">
								<form action="#">
									<input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
								</form>
							</div>
							<ul class="page_menu_nav">
								<li class="page_menu_item has-children">
									<a href="#">Language<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Currency<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item">
									<a href="#">Home<i class="fa fa-angle-down"></i></a>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
										<li class="page_menu_item has-children">
											<a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
								<li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
							</ul>

							<div class="menu_contact">
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570</div>
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>

	<div style="height: 700px">


	</div>

</div>

	<div style="height: 700px">


	</div>

</div>


    <main class="content">
        {% block content %}

        {% endblock content %}
    </main>

    <footer class="footer" style="margin-top:150px;">
	      <div id="footer-lop" >
	      <!-- Footer Links -->
	      <div class="container">
	        <!-- Grid row-->
	        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
	          <!-- Grid column -->
	          <div class="col-md-2 mb-3">
	            <h6 class="text-uppercase font-weight-bold">
	              <a target="_blank" href="https://gma.edupage.org/">Škola</a>
	            </h6>
	          </div>
	          <!-- Grid column -->
	          <!-- Grid column -->
	          <div class="col-md-2 mb-3">
	            <h6 class="text-uppercase font-weight-bold">
	              <a target="_blank" href="https://youtu.be/dQw4w9WgXcQ">Help</a>
	            </h6>
	          </div>
	          <!-- Grid column -->

	          <!-- Grid column -->
	    		<div class="col-md-2 mb-3">
	        	    <h6 class="text-uppercase font-weight-bold">
	        	      <a href="https://github.com/pravoslavzilka/Book-Share">GitHub</a>
	        	    </h6>
	        	  </div>
	        	</div>
	        <!-- Grid row-->
	    	  <div style="padding-bottom:10px;" class="col-md-12 mb-9">
	    	  	<div class="text-muted policy-terms" style="text-align: center;">
	    			<a style="text-decoration:none;" class="text-muted" href="#">Privacy Policy</a>
	    			<label >|</label>
	    			<a style="text-decoration:none;" class="text-muted" href="#">Terms of use</a>
	    			<label >|</label>
	    			<a style="text-decoration:none;" class="text-muted" href="#">Cookies Policy</a>
	    	  	</div>
	    	  </div>
	      <!-- Copyright -->
	    	  <div style="text-align: center;color:#525252;">
	    	  	<label >&copy; Pycon</label>
	    	  </div>
	      </div>
	      <!-- Copyright -->
	    </div>
	</footer>



</body>

<script>
	$(document).ready(function()
{
	"use strict";

	var menuActive = false;
	var header = $('.header');
	setHeader();
	initCustomDropdown();
	initPageMenu();

	function setHeader()
	{

		if(window.innerWidth > 991 && menuActive)
		{
			closeMenu();
		}
	}

	function initCustomDropdown()
	{
		if($('.custom_dropdown_placeholder').length && $('.custom_list').length)
		{
			var placeholder = $('.custom_dropdown_placeholder');
			var list = $('.custom_list');
		}

		placeholder.on('click', function (ev)
		{
			if(list.hasClass('active'))
			{
				list.removeClass('active');
			}
			else
			{
				list.addClass('active');
			}

			$(document).one('click', function closeForm(e)
			{
				if($(e.target).hasClass('clc'))
				{
					$(document).one('click', closeForm);
				}
				else
				{
					list.removeClass('active');
				}
			});

		});

		$('.custom_list a').on('click', function (ev)
		{
			ev.preventDefault();
			var index = $(this).parent().index();

			placeholder.text( $(this).text() ).css('opacity', '1');

			if(list.hasClass('active'))
			{
				list.removeClass('active');
			}
			else
			{
				list.addClass('active');
			}
		});


		$('select').on('change', function (e)
		{
			placeholder.text(this.value);

			$(this).animate({width: placeholder.width() + 'px' });
		});
	}

	/*

	4. Init Page Menu

	*/

	function initPageMenu()
	{
		if($('.page_menu').length && $('.page_menu_content').length)
		{
			var menu = $('.page_menu');
			var menuContent = $('.page_menu_content');
			var menuTrigger = $('.menu_trigger');

			//Open / close page menu
			menuTrigger.on('click', function()
			{
				if(!menuActive)
				{
					openMenu();
				}
				else
				{
					closeMenu();
				}
			});

			//Handle page menu
			if($('.page_menu_item').length)
			{
				var items = $('.page_menu_item');
				items.each(function()
				{
					var item = $(this);
					if(item.hasClass("has-children"))
					{
						item.on('click', function(evt)
						{
							evt.preventDefault();
							evt.stopPropagation();
							var subItem = item.find('> ul');
						    if(subItem.hasClass('active'))
						    {
						    	subItem.toggleClass('active');
								TweenMax.to(subItem, 0.3, {height:0});
						    }
						    else
						    {
						    	subItem.toggleClass('active');
						    	TweenMax.set(subItem, {height:"auto"});
								TweenMax.from(subItem, 0.3, {height:0});
						    }
						});
					}
				});
			}
		}
	}

	function openMenu()
	{
		var menu = $('.page_menu');
		var menuContent = $('.page_menu_content');
		TweenMax.set(menuContent, {height:"auto"});
		TweenMax.from(menuContent, 0.3, {height:0});
		menuActive = true;
	}

	function closeMenu()
	{
		var menu = $('.page_menu');
		var menuContent = $('.page_menu_content');
		TweenMax.to(menuContent, 0.3, {height:0});
		menuActive = false;
	}


});
</script>

</html>

